body {
  padding: 1rem;
  font-family: sans-serif;
}

/* header */
h1 { margin-top: 0; }

/* code */
code { white-space: pre; }
pre { white-space: normal; }

/* tables */
td { padding-right: 1rem; }
tr:first-child { font-weight: bold; }
